<app-navbar></app-navbar>

<div class="mission-container" (click)="scrollToVision()">
  <div class="content">
    <h2>Mission</h2>
    <p>
      Our mission is to provide quality care to our clients with the use of
      technology, skills, and knowledge. To continue research and innovation as
      a way to contribute with the continuous advancement of medicine. We also
      aim to collaborate with other healthcare professionals to provide the best
      care our clients deserve. Moreover, to prioritize the needs of our clients
      with the best of our abilities and resources. We are also eager to provide
      accessible and affordable healthcare services to our clients.
    </p>
  </div>
</div>

<div class="vision-container" #vision>
  <div class="content">
    <h2>Vision</h2>
    <p>
      Morayta Medical Center envisions to provide healthcare services that would
      help improve patients and clients overall well-being. Through using our
      expertise and knowledge in medicine, we aim to bring significant
      contributions and innovations that could be beneficial in the healthcare
      industry. We aim to be recognized as one of the best hospitals in
      providing healthcare services that promotes the health of our clients. Our
      commitment and dedication to impart our knowledge in the healthcare
      industry we are certain to make a difference in the industry.
    </p>
  </div>
</div>
