/* Navbar Brand */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navy {
    margin-left: 30px;
    margin-top: 15px;
  }
  
  .reg {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .navbar-text {
    margin-right: 5rem;
    font-size: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  
  // .stick {
  //   position: fixed;
  //   width: 100%;
  //   top: 0;
  //   padding-top: 60px;
  // }
  // color: #000080;
  .nav-link {
    font-size: 1rem;
    margin-right: 30px;
    color: #6c757d;
    &:hover {
      color: white;
      background-color: darkgray;
    }
  }
  
  .nav-item.active .nav-link {
    font-weight: bold;
    color: #000;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  .bg-dark {
    background-color: #343a40;
  }
  
  .bg-light {
    background-color: #f8f9fa;
  }
  
  .bg-db {
    color: #000080;
  }
  
  .bi {
    position: absolute;
    margin-left: -43px;
  }
  
  
  // HOME
  .home-container {
    background-image: url("/assets/mainbg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .transparent-div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
  }
  
  .home-text {
    color: white;
  }
  