.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.page-container {
  background-image: url("/assets/mainbg.jpg"); /* Path to your background image */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensures the background covers the entire viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
