.page-container {
  background-image: url("/assets/mainbg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  //   display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form inputs */
.form-group {
  margin-bottom: 1.5rem;
}

/* Style the submit button */
button[type="submit"] {
  cursor: pointer;
  width: 100%;
}

/* Style the submitted notes */
.card {
  margin-top: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}
