<div class="home-container">
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container-fluid">
      <div class="navy">
        <a class="navbar-brand" href="index.html">Morayta⚕️</a>
        <br />
        <p>Medical Systems</p>
      </div>

      <div class="d-flex align-items-center">
        <span class="navbar-text">
          <i class="bi bi-clock bg-db" style="font-size: 2em"></i>
          <a class="bg-db">Monday - Friday</a>

          <br />
          <strong>8:00AM - 8:00PM</strong>
        </span>
        <span class="navbar-text">
          <i class="bi bi-phone bg-db" style="font-size: 2em"></i>
          <a class="bg-db">Call Us</a>
          <br />
          <strong>+63 392 3929 210</strong>
        </span>
        <span class="navbar-text me-4">
          <i class="bi bi-geo-alt bg-db" style="font-size: 2em"></i>
          <a class="bg-db">Location</a>

          <br />
          <strong>Morayta, Manila</strong>
        </span>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light stick">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link bg-db" href="/home"><strong>Home</strong></a>
          </li>
          <!-- Dropdown Menu -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Records
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/records/registrations"
                  >Registration Sheet</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/records/HAF"
                  >Health Assessment Form</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/records/vitals">Vital Sheet</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/records/MAR">MAR</a></li>
              <li><a class="dropdown-item" href="/records/EMR">EMR</a></li>
            </ul>
          </li>
          <!-- End Dropdown Menu -->
          <li class="nav-item">
            <a class="nav-link" href="/members/team">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notes">Nursing Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
        <a href="/forms" class="btn btn-primary reg me-3">Register</a>
      </div>
    </div>
  </nav>

  <div class="transparent-div">
    <div class="home-text">
      <h1>Welcome to Morayta Medical Systems!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam,
        quod, voluptates, quibusdam!
      </p>
      <a class="btn btn-primary btn-lg" href="/forms">Register Now!</a>
    </div>
  </div>
</div>
