<div class="home-container">
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container-fluid">
      <div class="navy">
        <a class="navbar-brand" href="index.html">Morayta⚕️</a>
        <br />
        <p>Medical Systems</p>
      </div>

      <div class="d-flex align-items-center">
        <span class="navbar-text">
          <i class="bi bi-clock bg-db" style="font-size: 2em"></i>
          <a class="bg-db">Monday - Friday</a>

          <br />
          <strong>8:00AM - 8:00PM</strong>
        </span>
        <span class="navbar-text">
          <i class="bi bi-phone bg-db" style="font-size: 2em"></i>
          <a class="bg-db">Call Us</a>
          <br />
          <strong>+63 392 3929 210</strong>
        </span>
        <span class="navbar-text me-4">
          <i class="bi bi-geo-alt bg-db" style="font-size: 2em"></i>
          <a class="bg-db">Location</a>

          <br />
          <strong>Morayta, Manila</strong>
        </span>
      </div>
    </div>
  </nav>
  <app-navbar></app-navbar>

  <div class="transparent-div">
    <div class="home-text">
      <h1>Welcome to Morayta Medical Systems!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam,
        quod, voluptates, quibusdam!
      </p>
      <a class="btn btn-primary btn-lg me-4" href="/forms">🏥 Registration Form</a>
      <a class="btn btn-warning btn-lg" href="/health">💊 Health Assessment Form</a>
    </div>
  </div>
</div>
